{% extends 'base_father.html' %}
{% block title %}修改密码{% endblock %}
{% block css %}
    <link rel="stylesheet" href="https://unpkg.com/mobi.css/dist/mobi.min.css">
{% endblock %}
{% block body %}
    <div class="flex-center" style="margin-top: 100px">
        <div class="container">
            <div>
                <h1 style="text-align: center;">密码修改成功！</h1>
                <h3 style="text-align: center;font-size: 30px;">点<a href="{% url 'front:index' %}">这里</a>返回首页</h3>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}
{% endblock %}